.doctors-container {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 300px;
  border-radius: none;
}

@media screen and (min-width: 600px) {
  .doctors-container {
    flex-direction: row;
    padding-left: 300px;
  }
}

.doctors-card {
  width: 300px;
}

/* .doctors-list {
  box-sizing: none;
} */

.doctors-list button {
  background-color: #ffff;
  border-radius: 0;
}
