.form-container {
  flex-direction: column;
  margin-top: 2000px;
}

.div-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-right: 80px;
}

.navLink {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.p-2 img {
  width: 7px;
  border-radius: 20px;
}

.form-div div {
  margin-left: 1000px;
}

.image-wrapper img {
   width: 510px;
   margin-left: 3px;
}
